<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>HelloServlet2</servlet-name>
    <servlet-class>foo.HelloServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet2</servlet-name>
    <url-pattern>/HelloServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>JapaneseServlet</servlet-name>
    <servlet-class>JapaneseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JapaneseServlet</servlet-name>
    <url-pattern>/JapaneseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/NameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NamePostServlet</servlet-name>
    <servlet-class>NamePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NamePostServlet</servlet-name>
    <url-pattern>/NamePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnimalServlet</servlet-name>
    <servlet-class>AnimalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalServlet</servlet-name>
    <url-pattern>/AnimalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/ForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServlet2</display-name>
    <servlet-name>ForwardServlet2</servlet-name>
    <servlet-class>ForwardServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet2</servlet-name>
    <url-pattern>/ForwardServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/RedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionCreateServlet</display-name>
    <servlet-name>SessionCreateServlet</servlet-name>
    <servlet-class>SessionCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionCreateServlet</servlet-name>
    <url-pattern>/SessionCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionKeepServlet</display-name>
    <servlet-name>SessionKeepServlet</servlet-name>
    <servlet-class>SessionKeepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionKeepServlet</servlet-name>
    <url-pattern>/SessionKeepServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDestroyServlet</display-name>
    <servlet-name>SessionDestroyServlet</servlet-name>
    <servlet-class>SessionDestroyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDestroyServlet</servlet-name>
    <url-pattern>/SessionDestroyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionSetServlet</display-name>
    <servlet-name>SessionSetServlet</servlet-name>
    <servlet-class>SessionSetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionSetServlet</servlet-name>
    <url-pattern>/SessionSetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidateServlet</display-name>
    <servlet-name>InvalidateServlet</servlet-name>
    <servlet-class>InvalidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateServlet</servlet-name>
    <url-pattern>/InvalidateServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SampleFilter</filter-name>
    <filter-class>filter.SampleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SanmpleFilter</filter-name>
    <url-pattern>/HelloServlet</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/secret.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>